@import "tailwindcss";

/* Avenir Next – Regular */
@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Avenir Next – Medium */
@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/AvenirNextLTPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Avenir Next – Bold */
@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
